<!DOCTYPE html>
<html>
  <head>
    <title>InstaPlaces</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script type="text/javascript">
      window.instagramURL = "<%= image_url('instagram.png') %>";
      window.profilePic = "<%= image_url('image3.jpeg') %>";
    </script>
  </head>

  <body>


    <%= yield %>
  </body>
</html>
